.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: green;
  color: white;
  padding: 0.2rem 1rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-right: 1rem;
  margin-top: 0.2rem;
}
.input {
  height: 2rem;
  align-self: center;
  margin: 0rem 0.5rem;
  flex-grow: 1;
}

.option {
  cursor: pointer;
}
