.cardItem {
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  flex-direction: column;
  margin: 0.5rem;
}

.cardItemHeader {
  display: flex;
  font-family: "Anton";
  color: black;
  width: 30vw;
  min-width: 100%;
  min-height: 4rem;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  margin: 2px;
}

.rightPanel {
  width: 20%;
  display: flex;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.consoleName {
}

.addButton {
  height: 50%;
}

.leftPanel {
  width: 20%;
}
