.gameItem {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  font-family: "Anton";
  justify-content: center;
  width: 50%;
  height: 2rem;
  color: black;
  text-transform: uppercase;
}
