* {
  --primary-color: #311b92;
  --secondary-color: #512da8;
  --bar-color: #673ab7;
}

p {
  color: white;
  margin: 2px;
}

.header {
  font-family: "Anton";
  position: fixed;
  background-color: var(--primary-color);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.bar {
  height: 1rem;
  background-color: white;
  width: 10rem;
}

.barConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainImage {
  height: 12rem;
  margin: 3px 20px;
}

.nameConsole {
  width: 3rem;
  margin: 0px;
  margin: 0.5rem 1rem;
}

.fillBar {
  background-color: var(--bar-color);
  width: 50%;
  height: 100%;
}
