* {
  --primary-color: #311b92;
  --secondary-color: #512da8;
  --bar-color: #673ab7;
  margin: 0;
  padding: 0;
}

.gameCounter,
.nameConsole {
  color: white;
  margin: 2px;
}

.gameCounter {
  margin-bottom: 1rem;
}

.header {
  font-family: "Anton";
  position: relative;
  background-color: var(--primary-color);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.bar {
  height: 1rem;
  background-color: white;
  width: 10rem;
}

.barConteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainImage {
  height: 12rem;
  margin: 3px 20px;
}

.nameConsole {
  width: 3rem;
  margin: 0rem 1rem;
}

.fillBar {
  background-color: var(--bar-color);
  width: 50%;
  height: 100%;
}

.counterGames {
  margin-left: 1rem;
  color: white;
}

.buttonNewConsoles {
  box-sizing: border-box;
  display: flex;
  font-family: "Anton";
  font-size: 16px;
  background-color: transparent;
  max-height: 50px;
  margin: 10px;
  color: white;
  align-self: flex-end;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.container {
  flex-grow: 1;
  display: flex;
}

.buttonName {
  color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.buttonNewConsoles:hover {
  background-color: white;
}

.buttonName:hover {
  color: var(--primary-color);
}
